<div class="screen Chat" style="display: none;">
	<div class="panels" data-bind="splitterFlex: {name: 'channel_list', sizes: [30, 70]}">
		<div class="panel left_panel channels_panel">
			<div class="panel_content">
				<!-- ko template: {name: '%ModuleName%_ChannelsListView'} --><!-- /ko -->
			</div>
		</div>
		<div class="panel item_viewer">
			<div class="panel_content">
				<div class="middle_bar">
					<div class="panel_top">
						<!-- ko template: {name: '%ModuleName%_ChannelUsersView'} --><!-- /ko -->
					</div>
					<div class="panel_center" data-bind="heightAdjust: {'elements': [domQuickReply], 'triggers': [replyTextFocus()]}">
						<div data-bind="customScrollbar: {x: true, y: true, 'scrollToBottomTrigger': scrollTrigger}">
							<div class="scroll-inner" data-bind="initDom: scrolledPostsDom">
								<div class="post" data-bind="visible: (selectedChannel() && selectedChannel().Offset() > 0) || gettingMore">
									<a href="javascript: void()" data-bind="i18n: {'key': '%MODULENAME%/ACTION_LOAD_EARLIER_MESSAGES'}, click: showMore, visible: !gettingMore()"></a>
									<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_LOAD_EARLIER_MESSAGES_IN_PROGRESS'}, visible: gettingMore"></span>
								</div>
								<!-- ko foreach: currentChannelPosts -->
								<div class="post" data-bind="css: {'own-post': isOwn}">
									<div data-bind="visible: !hideHeader()">
										<span class="name" data-bind="text: name"></span>
										<span class="time" data-bind="text: displayDate, visible: !hideMessageDate()"></span>
									</div>
									<div class="text" data-bind="
										html: displayText,
										css: {'own-post-text': isOwn},
										event: {
											'mouseover': $parent.showMessageDate,
											'mouseout': $parent.hideMessageDate
										}"
										>
									</div>
									<span class="resend"
										data-bind="visible: isOwn && notSend(),
										command: $parent.resendCommand,
										css: {'process': resendIndicator},
										customTooltip: 'click to resend' ">
										<span class="icon"></span>
									</span>
								</div>
								<!-- /ko -->
							</div>
						</div>
					</div>
					<div class="panel_bottom" data-bind="initDom: domQuickReply">
						<!-- ko if: bAllowReply -->
							<!-- ko template: {name: '%ModuleName%_QuickReplyView'} --><!-- /ko -->
						<!-- /ko -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
