.Chat {
	.item_viewer {
		width: 100%;
		margin: 0px;
		
		.post {
			padding: 10px 30px;
			
			.name {
				font-weight: bold;
			}
			.time {
				color: grey;
			}
			.text {
				padding: 6px;
				background-color: #e2e2e2;
				border-radius: 5px;
				display: inline-block;
				min-width: 300px;
			}
			.text.own-post {
				background-color: #daf2f3;
			}
		}
	}
	
	.scroll-inner {
		padding-bottom: 0px !important;
	}
	
	.panel_content {
		padding: 0px;
		margin: 0px;
	}
	
	.panel_center {
		.box-sizing;
	}
	
	.panel_bottom {
		padding: 0;
	}
}